@font-face {
    font-family: AVP;
    src: url(font/AVP.ttf)
  }

@font-face {
    font-family: Covert Ops;
    src: url(font/covertops.ttf)
  }

  .AVP {
    font-family: AVP;
  }

  .covert-ops {
    font-family: Covert Ops;
  }